.rat {
    width: 1366px;
    height: 3496px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
}
.valley {
    width: 1366px;
    height: 400px;
    padding-top: 0.1px;
    background-image: url(https://p2.ssl.qhimg.com/t016c4c88e6bb07919f.png);
    background-size: 1366px 400px;
}
.pence {
    display: flex;
    width: 184px;
    height: 19px;
    margin: 20px 0 0 979px;
}
.unconditional {
    width: 70px;
    height: 19px;
    margin-left: 0px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
.feather {
    width: 102px;
    height: 19px;
    margin-left: 12px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
.zoo {
    width: 400px;
    height: 31px;
    margin: 25px 0 0 283px;
    font-family: MicrosoftYaHei;
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 255, 255, 1);
}
.build {
    width: 32px;
    height: 2px;
    margin: 11px 0 0 283px;
    background-color: rgba(255, 255, 255, 1);
}
.field {
    width: 400px;
    height: 64px;
    margin: 20px 0 0 283px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    color: rgba(255, 255, 255, 1);
}
.nationality {
    width: 400px;
    height: 64px;
    margin-left: 283px;
    font-family: MicrosoftYaHei-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 67px;
    color: rgba(255, 255, 255, 1);
}
.salad {
    width: 164px;
    height: 44px;
    padding-top: 0.1px;
    margin: 36px 0 0 283px;
    background-color: rgba(232, 52, 53, 1);
    border-radius: 8px;
}
.ferry {
    width: 144px;
    height: 24px;
    margin: 9px 0 0 10px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.building {
    width: 1366px;
    height: 716px;
    padding-top: 0.1px;
    background-color: rgba(255, 255, 255, 1);
}
.limit {
    width: 155px;
    height: 42px;
    margin: 80px 0 0 606px;
    font-family: MicrosoftYaHei;
    font-size: 32px;
    line-height: 45px;
    color: rgba(34, 34, 34, 1);
}
.stewardess {
    width: 155px;
    height: 42px;
    font-family: MicrosoftYaHei;
    font-size: 32px;
    line-height: 45px;
    color: rgba(34, 34, 34, 1);
}
.water {
    display: flex;
    width: 960px;
    height: 221px;
    margin: 48px 0 0 203px;
    justify-content: space-between;
}
.manage {
    width: 304px;
    height: 221px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.path {
    width: 304px;
    height: 163px;
    background-color: rgba(216, 216, 216, 1);
}
.example {
    width: 304px;
    height: 163px;
}
.purple {
    width: 304px;
    height: 1px;
    background-color: rgba(229, 229, 229, 1);
}
.valid {
    display: flex;
    width: 272px;
    height: 25px;
    margin: 16px 0 0 16px;
}
.hurry {
    width: 220px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.argue {
    width: 25px;
    height: 25px;
    margin-left: 27px;
}
.accommodation {
    width: 304px;
    height: 221px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.mixture {
    width: 304px;
    height: 164px;
    padding-top: 0.1px;
    background-image: url(https://p3.ssl.qhimg.com/t019081faa91e568b5c.png);
    background-size: 304px 164px;
}
.time {
    width: 304px;
    height: 1px;
    margin-top: 163px;
    background-color: rgba(229, 229, 229, 1);
}
.picnic {
    display: flex;
    width: 272px;
    height: 25px;
    margin: 16px 0 0 16px;
}
.consensus {
    width: 220px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.smoke {
    width: 25px;
    height: 25px;
    margin-left: 27px;
}
.protection {
    width: 304px;
    height: 221px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.conscience {
    width: 304px;
    height: 164px;
    padding-top: 0.1px;
    background-image: url(https://p5.ssl.qhimg.com/t015f54ea855e888921.png);
    background-size: 304px 164px;
}
.sense {
    width: 304px;
    height: 1px;
    margin-top: 163px;
    background-color: rgba(229, 229, 229, 1);
}
.owe {
    display: flex;
    width: 272px;
    height: 25px;
    margin: 16px 0 0 16px;
}
.chant {
    width: 220px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.term {
    width: 25px;
    height: 25px;
    margin-left: 27px;
}
.urban {
    display: flex;
    width: 960px;
    height: 221px;
    margin: 24px 0 0 203px;
    justify-content: space-between;
}
.considerate {
    width: 304px;
    height: 221px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.afraid {
    width: 304px;
    height: 164px;
    padding-top: 0.1px;
    background-image: url(https://p1.ssl.qhimg.com/t016f4d788435d41ec5.png);
    background-size: 304px 164px;
}
.bandage {
    width: 304px;
    height: 1px;
    margin-top: 163px;
    background-color: rgba(229, 229, 229, 1);
}
.table {
    display: flex;
    width: 272px;
    height: 25px;
    margin: 16px 0 0 16px;
}
.tennis {
    width: 220px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.candidate {
    width: 25px;
    height: 25px;
    margin-left: 27px;
}
.combine {
    width: 304px;
    height: 221px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.hurricane {
    width: 304px;
    height: 164px;
    padding-top: 0.1px;
    background-image: url(https://p1.ssl.qhimg.com/t01661f3231b23748be.png);
    background-size: 304px 164px;
}
.independent {
    width: 304px;
    height: 1px;
    margin-top: 163px;
    background-color: rgba(229, 229, 229, 1);
}
.cancer {
    display: flex;
    width: 272px;
    height: 25px;
    margin: 16px 0 0 16px;
}
.choose {
    width: 220px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.town {
    width: 25px;
    height: 25px;
    margin-left: 27px;
}
.desire {
    width: 304px;
    height: 221px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}
.visual {
    width: 304px;
    height: 164px;
    padding-top: 0.1px;
    background-image: url(https://p4.ssl.qhimg.com/t01b35e6c3832db657c.png);
    background-size: 304px 164px;
}
.life {
    width: 304px;
    height: 1px;
    margin-top: 163px;
    background-color: rgba(229, 229, 229, 1);
}
.submit {
    display: flex;
    width: 272px;
    height: 25px;
    margin: 16px 0 0 16px;
}
.physics {
    width: 220px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.meaning {
    width: 25px;
    height: 25px;
    margin-left: 27px;
}
.country {
    width: 155px;
    height: 42px;
    margin: 20px 0 0 203px;
    font-family: MicrosoftYaHei;
    font-size: 32px;
    line-height: 45px;
    color: rgba(34, 34, 34, 1);
}
.half {
    width: 1366px;
    height: 240px;
    padding-top: 0.1px;
    margin-top: 48px;
    background-image: url(https://p4.ssl.qhimg.com/t01053fa26b320c4fdb.png);
    background-size: 1366px 240px;
}
.joy {
    width: 344px;
    height: 380px;
    margin: -90px 0 0 819px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}
.adult {
    width: 344px;
    height: 60px;
    padding-top: 0.1px;
    background-color: rgba(64, 77, 118, 1);
}
.servant {
    width: 284px;
    height: 28px;
    margin: 16px 0 0 30px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.care {
    width: 148px;
    height: 144px;
    padding-top: 0.1px;
    margin: -242px 0 0 203px;
}
.search {
    width: 1px;
    height: 96px;
    margin: 24px 0 0 147px;
    background-color: rgba(255, 255, 255, 0.2);
}
.same {
    width: 116px;
    height: 84px;
    margin: -90px 0 0 16px;
}
.furniture {
    width: 40px;
    height: 40px;
    margin-left: 38px;
}
.agree {
    width: 116px;
    height: 24px;
    margin-top: 20px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.heart {
    width: 148px;
    height: 144px;
    padding-top: 0.1px;
    margin: -144px 0 0 351px;
}
.unemployment {
    width: 1px;
    height: 96px;
    margin: 24px 0 0 147px;
    background-color: rgba(255, 255, 255, 0.2);
}
.nearly {
    width: 116px;
    height: 84px;
    margin: -90px 0 0 16px;
}
.bond {
    width: 40px;
    height: 40px;
    margin-left: 38px;
}
.master {
    width: 116px;
    height: 24px;
    margin-top: 20px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.rise {
    width: 148px;
    height: 144px;
    padding-top: 0.1px;
    margin: -144px 0 0 499px;
}
.punish {
    width: 1px;
    height: 96px;
    margin: 24px 0 0 147px;
    background-color: rgba(255, 255, 255, 0.2);
}
.monument {
    width: 116px;
    height: 84px;
    margin: -90px 0 0 16px;
}
.stick {
    width: 40px;
    height: 40px;
    margin-left: 38px;
}
.tax {
    width: 116px;
    height: 24px;
    margin-top: 20px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.personnel {
    width: 148px;
    height: 144px;
    padding-top: 0.1px;
    margin: -144px 0 0 647px;
}
.fact {
    width: 40px;
    height: 40px;
    margin: 30px 0 0 54px;
}
.therefore {
    width: 116px;
    height: 24px;
    margin: 20px 0 0 16px;
    font-family: MicrosoftYaHei;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.ox {
    width: 1366px;
    height: 952px;
    padding-top: 0.1px;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 1);
}
.ocean {
    width: 155px;
    height: 42px;
    margin: 80px 0 0 606px;
    font-family: MicrosoftYaHei;
    font-size: 32px;
    line-height: 45px;
    color: rgba(34, 34, 34, 1);
}
.eagle {
    display: flex;
    width: 959px;
    height: 312px;
    margin: 46px 0 0 204px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
}
.cloud {
    width: 464px;
    height: 312px;
    margin-left: -1px;
}
.fibre {
    width: 472px;
    height: 312px;
    margin-right: 0px;
}
.fiber {
    display: flex;
    width: 344px;
    height: 34px;
    align-items: center;
}
.bingo {
    width: 34px;
    height: 34px;
    padding-top: 0.1px;
    margin-left: 0px;
    background-color: rgba(232, 52, 53, 1);
}
.fortunate {
    width: 20px;
    height: 20px;
    margin: 7px 0 0 7px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.mommy {
    width: 300px;
    height: 25px;
    margin-left: 10px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.wage {
    width: 472px;
    height: 40px;
    margin-top: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(102, 102, 102, 1);
}
.along {
    width: 472px;
    height: 80px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(102, 102, 102, 1);
}
.surplus {
    display: flex;
    width: 400px;
    height: 105px;
    margin-top: 33px;
    justify-content: space-between;
}
.add {
    width: 188px;
    height: 105px;
}
.outdoors {
    width: 188px;
    height: 105px;
}
.paper {
    display: flex;
    height: 16px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}
.fetch {
    width: 458px;
    height: 1px;
    margin-left: 0px;
    background-color: rgba(235, 235, 235, 1);
}
.church {
    width: 16px;
    height: 16px;
    margin-left: 14px;
    background-color: rgba(235, 235, 235, 1);
}
.edition {
    width: 458px;
    height: 1px;
    margin-left: 14px;
    background-color: rgba(235, 235, 235, 1);
}
.weather {
    display: flex;
    width: 959px;
    height: 312px;
    margin: 32px 0 0 204px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: space-between;
}
.opera {
    width: 472px;
    height: 312px;
    margin-left: -1px;
}
.dot {
    display: flex;
    width: 344px;
    height: 34px;
    align-items: center;
}
.service {
    width: 34px;
    height: 34px;
    padding-top: 0.1px;
    margin-left: 0px;
    background-color: rgba(232, 52, 53, 1);
}
.disease {
    width: 20px;
    height: 20px;
    margin: 7px 0 0 7px;
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.symphony {
    width: 300px;
    height: 25px;
    margin-left: 10px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.survival {
    width: 472px;
    height: 40px;
    margin-top: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(102, 102, 102, 1);
}
.thus {
    width: 472px;
    height: 60px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(102, 102, 102, 1);
}
.satisfy {
    display: flex;
    width: 400px;
    height: 105px;
    margin-top: 53px;
    justify-content: space-between;
}
.arise {
    width: 188px;
    height: 105px;
}
.sorry {
    width: 188px;
    height: 105px;
}
.dinosaur {
    width: 464px;
    height: 312px;
    margin-right: 0px;
}
.properly {
    width: 1366px;
    height: 522px;
    background-color: rgba(255, 255, 255, 1);
}
.story {
    width: 1366px;
    height: 324px;
    padding-top: 0.1px;
    background-color: rgba(242, 242, 242, 1);
}
.appetite {
    width: 155px;
    height: 42px;
    margin: 80px 0 0 606px;
    font-family: MicrosoftYaHei;
    font-size: 32px;
    line-height: 45px;
    color: rgba(34, 34, 34, 1);
}
.pronounce {
    display: flex;
    width: 959px;
    height: 274px;
    margin: 46px 0 0 204px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
}
.socialist {
    width: 464px;
    height: 274px;
    margin-left: -1px;
}
.certain {
    height: 226px;
    margin-left: 24px;
}
.pea {
    width: 448px;
    height: 25px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
}
.bacterium {
    width: 448px;
    height: 180px;
    margin-top: 21px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(102, 102, 102, 1);
}
.contrary {
    width: 1366px;
    height: 486px;
    padding-top: 0.1px;
    background-color: rgba(255, 255, 255, 1);
}
.roof {
    width: 155px;
    height: 42px;
    margin: 80px 0 0 606px;
    font-family: MicrosoftYaHei;
    font-size: 32px;
    line-height: 45px;
    color: rgba(34, 34, 34, 1);
}
