body {
                overflow-x: hidden;
                position: relative;
                height: 3496pxpx;
            }@function pxtorem($px){
    @return $px/182.13333333333333px * 1rem;
}
.rat {
    width: pxtorem(1366px);
    height: pxtorem(3496px);
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    .valley {
        width: pxtorem(1366px);
        height: pxtorem(400px);
        padding-top: pxtorem(0.1px);
        background-image: url(https://p2.ssl.qhimg.com/t016c4c88e6bb07919f.png);
        background-size: pxtorem(1366px) pxtorem(400px);
        .pence {
            display: flex;
            width: pxtorem(184px);
            height: pxtorem(19px);
            margin: pxtorem(20px) 0 0 pxtorem(979px);
            .unconditional {
                width: pxtorem(70px);
                height: pxtorem(19px);
                margin-left: pxtorem(0px);
                font-family: MicrosoftYaHei;
                font-size: pxtorem(14px);
                line-height: pxtorem(20px);
                color: rgba(255, 255, 255, 1);
            }
            .feather {
                width: pxtorem(102px);
                height: pxtorem(19px);
                margin-left: pxtorem(12px);
                font-family: MicrosoftYaHei;
                font-size: pxtorem(14px);
                line-height: pxtorem(20px);
                color: rgba(255, 255, 255, 1);
            }
        }
        .zoo {
            width: pxtorem(400px);
            height: pxtorem(31px);
            margin: pxtorem(25px) 0 0 pxtorem(283px);
            font-family: MicrosoftYaHei;
            font-size: pxtorem(24px);
            line-height: pxtorem(33px);
            color: rgba(255, 255, 255, 1);
        }
        .build {
            width: pxtorem(32px);
            height: pxtorem(2px);
            margin: pxtorem(11px) 0 0 pxtorem(283px);
            background-color: rgba(255, 255, 255, 1);
        }
        .field {
            width: pxtorem(400px);
            height: pxtorem(64px);
            margin: pxtorem(20px) 0 0 pxtorem(283px);
            font-family: MicrosoftYaHei-Bold;
            font-size: pxtorem(48px);
            font-weight: 700;
            line-height: pxtorem(67px);
            color: rgba(255, 255, 255, 1);
        }
        .nationality {
            width: pxtorem(400px);
            height: pxtorem(64px);
            margin-left: pxtorem(283px);
            font-family: MicrosoftYaHei-Bold;
            font-size: pxtorem(48px);
            font-weight: 700;
            line-height: pxtorem(67px);
            color: rgba(255, 255, 255, 1);
        }
        .salad {
            width: pxtorem(164px);
            height: pxtorem(44px);
            padding-top: pxtorem(0.1px);
            margin: pxtorem(36px) 0 0 pxtorem(283px);
            background-color: rgba(232, 52, 53, 1);
            border-radius: pxtorem(8px);
            .ferry {
                width: pxtorem(144px);
                height: pxtorem(24px);
                margin: pxtorem(9px) 0 0 pxtorem(10px);
                font-family: MicrosoftYaHei;
                font-size: pxtorem(18px);
                line-height: pxtorem(25px);
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }
        }
    }
    .building {
        width: pxtorem(1366px);
        height: pxtorem(716px);
        padding-top: pxtorem(0.1px);
        background-color: rgba(255, 255, 255, 1);
        .limit {
            width: pxtorem(155px);
            height: pxtorem(42px);
            margin: pxtorem(80px) 0 0 pxtorem(606px);
            font-family: MicrosoftYaHei;
            font-size: pxtorem(32px);
            line-height: pxtorem(45px);
            color: rgba(34, 34, 34, 1);
            .stewardess {
                width: pxtorem(155px);
                height: pxtorem(42px);
                font-family: MicrosoftYaHei;
                font-size: pxtorem(32px);
                line-height: pxtorem(45px);
                color: rgba(34, 34, 34, 1);
            }
        }
        .water {
            display: flex;
            width: pxtorem(960px);
            height: pxtorem(221px);
            margin: pxtorem(48px) 0 0 pxtorem(203px);
            justify-content: space-between;
            .manage {
                width: pxtorem(304px);
                height: pxtorem(221px);
                background-color: rgba(255, 255, 255, 1);
                border-radius: pxtorem(8px);
                box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(12px) pxtorem(0px) rgba(0, 0, 0, 0.08);
                .path {
                    width: pxtorem(304px);
                    height: pxtorem(163px);
                    background-color: rgba(216, 216, 216, 1);
                    .example {
                        width: pxtorem(304px);
                        height: pxtorem(163px);
                    }
                }
                .purple {
                    width: pxtorem(304px);
                    height: pxtorem(1px);
                    background-color: rgba(229, 229, 229, 1);
                }
                .valid {
                    display: flex;
                    width: pxtorem(272px);
                    height: pxtorem(25px);
                    margin: pxtorem(16px) 0 0 pxtorem(16px);
                    .hurry {
                        width: pxtorem(220px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .argue {
                        width: pxtorem(25px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(27px);
                    }
                }
            }
            .accommodation {
                width: pxtorem(304px);
                height: pxtorem(221px);
                background-color: rgba(255, 255, 255, 1);
                border-radius: pxtorem(8px);
                box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(12px) pxtorem(0px) rgba(0, 0, 0, 0.08);
                .mixture {
                    width: pxtorem(304px);
                    height: pxtorem(164px);
                    padding-top: pxtorem(0.1px);
                    background-image: url(https://p3.ssl.qhimg.com/t019081faa91e568b5c.png);
                    background-size: pxtorem(304px) pxtorem(164px);
                    .time {
                        width: pxtorem(304px);
                        height: pxtorem(1px);
                        margin-top: pxtorem(163px);
                        background-color: rgba(229, 229, 229, 1);
                    }
                }
                .picnic {
                    display: flex;
                    width: pxtorem(272px);
                    height: pxtorem(25px);
                    margin: pxtorem(16px) 0 0 pxtorem(16px);
                    .consensus {
                        width: pxtorem(220px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .smoke {
                        width: pxtorem(25px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(27px);
                    }
                }
            }
            .protection {
                width: pxtorem(304px);
                height: pxtorem(221px);
                background-color: rgba(255, 255, 255, 1);
                border-radius: pxtorem(8px);
                box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(12px) pxtorem(0px) rgba(0, 0, 0, 0.08);
                .conscience {
                    width: pxtorem(304px);
                    height: pxtorem(164px);
                    padding-top: pxtorem(0.1px);
                    background-image: url(https://p5.ssl.qhimg.com/t015f54ea855e888921.png);
                    background-size: pxtorem(304px) pxtorem(164px);
                    .sense {
                        width: pxtorem(304px);
                        height: pxtorem(1px);
                        margin-top: pxtorem(163px);
                        background-color: rgba(229, 229, 229, 1);
                    }
                }
                .owe {
                    display: flex;
                    width: pxtorem(272px);
                    height: pxtorem(25px);
                    margin: pxtorem(16px) 0 0 pxtorem(16px);
                    .chant {
                        width: pxtorem(220px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .term {
                        width: pxtorem(25px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(27px);
                    }
                }
            }
        }
        .urban {
            display: flex;
            width: pxtorem(960px);
            height: pxtorem(221px);
            margin: pxtorem(24px) 0 0 pxtorem(203px);
            justify-content: space-between;
            .considerate {
                width: pxtorem(304px);
                height: pxtorem(221px);
                background-color: rgba(255, 255, 255, 1);
                border-radius: pxtorem(8px);
                box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(12px) pxtorem(0px) rgba(0, 0, 0, 0.08);
                .afraid {
                    width: pxtorem(304px);
                    height: pxtorem(164px);
                    padding-top: pxtorem(0.1px);
                    background-image: url(https://p1.ssl.qhimg.com/t016f4d788435d41ec5.png);
                    background-size: pxtorem(304px) pxtorem(164px);
                    .bandage {
                        width: pxtorem(304px);
                        height: pxtorem(1px);
                        margin-top: pxtorem(163px);
                        background-color: rgba(229, 229, 229, 1);
                    }
                }
                .table {
                    display: flex;
                    width: pxtorem(272px);
                    height: pxtorem(25px);
                    margin: pxtorem(16px) 0 0 pxtorem(16px);
                    .tennis {
                        width: pxtorem(220px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .candidate {
                        width: pxtorem(25px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(27px);
                    }
                }
            }
            .combine {
                width: pxtorem(304px);
                height: pxtorem(221px);
                background-color: rgba(255, 255, 255, 1);
                border-radius: pxtorem(8px);
                box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(12px) pxtorem(0px) rgba(0, 0, 0, 0.08);
                .hurricane {
                    width: pxtorem(304px);
                    height: pxtorem(164px);
                    padding-top: pxtorem(0.1px);
                    background-image: url(https://p1.ssl.qhimg.com/t01661f3231b23748be.png);
                    background-size: pxtorem(304px) pxtorem(164px);
                    .independent {
                        width: pxtorem(304px);
                        height: pxtorem(1px);
                        margin-top: pxtorem(163px);
                        background-color: rgba(229, 229, 229, 1);
                    }
                }
                .cancer {
                    display: flex;
                    width: pxtorem(272px);
                    height: pxtorem(25px);
                    margin: pxtorem(16px) 0 0 pxtorem(16px);
                    .choose {
                        width: pxtorem(220px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .town {
                        width: pxtorem(25px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(27px);
                    }
                }
            }
            .desire {
                width: pxtorem(304px);
                height: pxtorem(221px);
                background-color: rgba(255, 255, 255, 1);
                border-radius: pxtorem(8px);
                box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(12px) pxtorem(0px) rgba(0, 0, 0, 0.08);
                .visual {
                    width: pxtorem(304px);
                    height: pxtorem(164px);
                    padding-top: pxtorem(0.1px);
                    background-image: url(https://p4.ssl.qhimg.com/t01b35e6c3832db657c.png);
                    background-size: pxtorem(304px) pxtorem(164px);
                    .life {
                        width: pxtorem(304px);
                        height: pxtorem(1px);
                        margin-top: pxtorem(163px);
                        background-color: rgba(229, 229, 229, 1);
                    }
                }
                .submit {
                    display: flex;
                    width: pxtorem(272px);
                    height: pxtorem(25px);
                    margin: pxtorem(16px) 0 0 pxtorem(16px);
                    .physics {
                        width: pxtorem(220px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .meaning {
                        width: pxtorem(25px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(27px);
                    }
                }
            }
        }
    }
    .country {
        width: pxtorem(155px);
        height: pxtorem(42px);
        margin: pxtorem(20px) 0 0 pxtorem(203px);
        font-family: MicrosoftYaHei;
        font-size: pxtorem(32px);
        line-height: pxtorem(45px);
        color: rgba(34, 34, 34, 1);
    }
    .half {
        width: pxtorem(1366px);
        height: pxtorem(240px);
        padding-top: pxtorem(0.1px);
        margin-top: pxtorem(48px);
        background-image: url(https://p4.ssl.qhimg.com/t01053fa26b320c4fdb.png);
        background-size: pxtorem(1366px) pxtorem(240px);
        .joy {
            width: pxtorem(344px);
            height: pxtorem(380px);
            margin: pxtorem(-90px) 0 0 pxtorem(819px);
            background-color: rgba(255, 255, 255, 1);
            box-shadow: pxtorem(0px) pxtorem(0px) pxtorem(16px) pxtorem(0px) rgba(0, 0, 0, 0.2);
            .adult {
                width: pxtorem(344px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                background-color: rgba(64, 77, 118, 1);
                .servant {
                    width: pxtorem(284px);
                    height: pxtorem(28px);
                    margin: pxtorem(16px) 0 0 pxtorem(30px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(20px);
                    line-height: pxtorem(28px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
        }
        .care {
            width: pxtorem(148px);
            height: pxtorem(144px);
            padding-top: pxtorem(0.1px);
            margin: pxtorem(-242px) 0 0 pxtorem(203px);
            .search {
                width: pxtorem(1px);
                height: pxtorem(96px);
                margin: pxtorem(24px) 0 0 pxtorem(147px);
                background-color: rgba(255, 255, 255, 0.2);
            }
            .same {
                width: pxtorem(116px);
                height: pxtorem(84px);
                margin: pxtorem(-90px) 0 0 pxtorem(16px);
                .furniture {
                    width: pxtorem(40px);
                    height: pxtorem(40px);
                    margin-left: pxtorem(38px);
                }
                .agree {
                    width: pxtorem(116px);
                    height: pxtorem(24px);
                    margin-top: pxtorem(20px);
                    font-family: MicrosoftYaHei;
                    font-size: pxtorem(18px);
                    line-height: pxtorem(25px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
        }
        .heart {
            width: pxtorem(148px);
            height: pxtorem(144px);
            padding-top: pxtorem(0.1px);
            margin: pxtorem(-144px) 0 0 pxtorem(351px);
            .unemployment {
                width: pxtorem(1px);
                height: pxtorem(96px);
                margin: pxtorem(24px) 0 0 pxtorem(147px);
                background-color: rgba(255, 255, 255, 0.2);
            }
            .nearly {
                width: pxtorem(116px);
                height: pxtorem(84px);
                margin: pxtorem(-90px) 0 0 pxtorem(16px);
                .bond {
                    width: pxtorem(40px);
                    height: pxtorem(40px);
                    margin-left: pxtorem(38px);
                }
                .master {
                    width: pxtorem(116px);
                    height: pxtorem(24px);
                    margin-top: pxtorem(20px);
                    font-family: MicrosoftYaHei;
                    font-size: pxtorem(18px);
                    line-height: pxtorem(25px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
        }
        .rise {
            width: pxtorem(148px);
            height: pxtorem(144px);
            padding-top: pxtorem(0.1px);
            margin: pxtorem(-144px) 0 0 pxtorem(499px);
            .punish {
                width: pxtorem(1px);
                height: pxtorem(96px);
                margin: pxtorem(24px) 0 0 pxtorem(147px);
                background-color: rgba(255, 255, 255, 0.2);
            }
            .monument {
                width: pxtorem(116px);
                height: pxtorem(84px);
                margin: pxtorem(-90px) 0 0 pxtorem(16px);
                .stick {
                    width: pxtorem(40px);
                    height: pxtorem(40px);
                    margin-left: pxtorem(38px);
                }
                .tax {
                    width: pxtorem(116px);
                    height: pxtorem(24px);
                    margin-top: pxtorem(20px);
                    font-family: MicrosoftYaHei;
                    font-size: pxtorem(18px);
                    line-height: pxtorem(25px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
        }
        .personnel {
            width: pxtorem(148px);
            height: pxtorem(144px);
            padding-top: pxtorem(0.1px);
            margin: pxtorem(-144px) 0 0 pxtorem(647px);
            .fact {
                width: pxtorem(40px);
                height: pxtorem(40px);
                margin: pxtorem(30px) 0 0 pxtorem(54px);
            }
            .therefore {
                width: pxtorem(116px);
                height: pxtorem(24px);
                margin: pxtorem(20px) 0 0 pxtorem(16px);
                font-family: MicrosoftYaHei;
                font-size: pxtorem(18px);
                line-height: pxtorem(25px);
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }
        }
    }
    .ox {
        width: pxtorem(1366px);
        height: pxtorem(952px);
        padding-top: pxtorem(0.1px);
        margin-top: pxtorem(70px);
        background-color: rgba(255, 255, 255, 1);
        .ocean {
            width: pxtorem(155px);
            height: pxtorem(42px);
            margin: pxtorem(80px) 0 0 pxtorem(606px);
            font-family: MicrosoftYaHei;
            font-size: pxtorem(32px);
            line-height: pxtorem(45px);
            color: rgba(34, 34, 34, 1);
        }
        .eagle {
            display: flex;
            width: pxtorem(959px);
            height: pxtorem(312px);
            margin: pxtorem(46px) 0 0 pxtorem(204px);
            background-color: rgba(255, 255, 255, 1);
            justify-content: space-between;
            .cloud {
                width: pxtorem(464px);
                height: pxtorem(312px);
                margin-left: pxtorem(-1px);
            }
            .fibre {
                width: pxtorem(472px);
                height: pxtorem(312px);
                margin-right: pxtorem(0px);
                .fiber {
                    display: flex;
                    width: pxtorem(344px);
                    height: pxtorem(34px);
                    align-items: center;
                    .bingo {
                        width: pxtorem(34px);
                        height: pxtorem(34px);
                        padding-top: pxtorem(0.1px);
                        margin-left: pxtorem(0px);
                        background-color: rgba(232, 52, 53, 1);
                        .fortunate {
                            width: pxtorem(20px);
                            height: pxtorem(20px);
                            margin: pxtorem(7px) 0 0 pxtorem(7px);
                            font-family: PingFangSC-Semibold;
                            font-size: pxtorem(14px);
                            font-weight: 700;
                            line-height: pxtorem(20px);
                            color: rgba(255, 255, 255, 1);
                            text-align: center;
                        }
                    }
                    .mommy {
                        width: pxtorem(300px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(10px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                }
                .wage {
                    width: pxtorem(472px);
                    height: pxtorem(40px);
                    margin-top: pxtorem(20px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(14px);
                    line-height: pxtorem(20px);
                    color: rgba(102, 102, 102, 1);
                }
                .along {
                    width: pxtorem(472px);
                    height: pxtorem(80px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(14px);
                    line-height: pxtorem(20px);
                    color: rgba(102, 102, 102, 1);
                }
                .surplus {
                    display: flex;
                    width: pxtorem(400px);
                    height: pxtorem(105px);
                    margin-top: pxtorem(33px);
                    justify-content: space-between;
                    .add {
                        width: pxtorem(188px);
                        height: pxtorem(105px);
                    }
                    .outdoors {
                        width: pxtorem(188px);
                        height: pxtorem(105px);
                    }
                }
            }
        }
        .paper {
            display: flex;
            height: pxtorem(16px);
            margin-top: pxtorem(32px);
            justify-content: center;
            align-items: center;
            .fetch {
                width: pxtorem(458px);
                height: pxtorem(1px);
                margin-left: pxtorem(0px);
                background-color: rgba(235, 235, 235, 1);
            }
            .church {
                width: pxtorem(16px);
                height: pxtorem(16px);
                margin-left: pxtorem(14px);
                background-color: rgba(235, 235, 235, 1);
            }
            .edition {
                width: pxtorem(458px);
                height: pxtorem(1px);
                margin-left: pxtorem(14px);
                background-color: rgba(235, 235, 235, 1);
            }
        }
        .weather {
            display: flex;
            width: pxtorem(959px);
            height: pxtorem(312px);
            margin: pxtorem(32px) 0 0 pxtorem(204px);
            background-color: rgba(255, 255, 255, 1);
            justify-content: space-between;
            .opera {
                width: pxtorem(472px);
                height: pxtorem(312px);
                margin-left: pxtorem(-1px);
                .dot {
                    display: flex;
                    width: pxtorem(344px);
                    height: pxtorem(34px);
                    align-items: center;
                    .service {
                        width: pxtorem(34px);
                        height: pxtorem(34px);
                        padding-top: pxtorem(0.1px);
                        margin-left: pxtorem(0px);
                        background-color: rgba(232, 52, 53, 1);
                        .disease {
                            width: pxtorem(20px);
                            height: pxtorem(20px);
                            margin: pxtorem(7px) 0 0 pxtorem(7px);
                            font-family: PingFangSC-Semibold;
                            font-size: pxtorem(14px);
                            font-weight: 700;
                            line-height: pxtorem(20px);
                            color: rgba(255, 255, 255, 1);
                            text-align: center;
                        }
                    }
                    .symphony {
                        width: pxtorem(300px);
                        height: pxtorem(25px);
                        margin-left: pxtorem(10px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                }
                .survival {
                    width: pxtorem(472px);
                    height: pxtorem(40px);
                    margin-top: pxtorem(20px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(14px);
                    line-height: pxtorem(20px);
                    color: rgba(102, 102, 102, 1);
                }
                .thus {
                    width: pxtorem(472px);
                    height: pxtorem(60px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(14px);
                    line-height: pxtorem(20px);
                    color: rgba(102, 102, 102, 1);
                }
                .satisfy {
                    display: flex;
                    width: pxtorem(400px);
                    height: pxtorem(105px);
                    margin-top: pxtorem(53px);
                    justify-content: space-between;
                    .arise {
                        width: pxtorem(188px);
                        height: pxtorem(105px);
                    }
                    .sorry {
                        width: pxtorem(188px);
                        height: pxtorem(105px);
                    }
                }
            }
            .dinosaur {
                width: pxtorem(464px);
                height: pxtorem(312px);
                margin-right: pxtorem(0px);
            }
        }
    }
    .properly {
        width: pxtorem(1366px);
        height: pxtorem(522px);
        background-color: rgba(255, 255, 255, 1);
        .story {
            width: pxtorem(1366px);
            height: pxtorem(324px);
            padding-top: pxtorem(0.1px);
            background-color: rgba(242, 242, 242, 1);
            .appetite {
                width: pxtorem(155px);
                height: pxtorem(42px);
                margin: pxtorem(80px) 0 0 pxtorem(606px);
                font-family: MicrosoftYaHei;
                font-size: pxtorem(32px);
                line-height: pxtorem(45px);
                color: rgba(34, 34, 34, 1);
            }
            .pronounce {
                display: flex;
                width: pxtorem(959px);
                height: pxtorem(274px);
                margin: pxtorem(46px) 0 0 pxtorem(204px);
                background-color: rgba(255, 255, 255, 1);
                align-items: center;
                .socialist {
                    width: pxtorem(464px);
                    height: pxtorem(274px);
                    margin-left: pxtorem(-1px);
                }
                .certain {
                    height: pxtorem(226px);
                    margin-left: pxtorem(24px);
                    .pea {
                        width: pxtorem(448px);
                        height: pxtorem(25px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(18px);
                        line-height: pxtorem(25px);
                        color: rgba(34, 34, 34, 1);
                    }
                    .bacterium {
                        width: pxtorem(448px);
                        height: pxtorem(180px);
                        margin-top: pxtorem(21px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(14px);
                        line-height: pxtorem(20px);
                        color: rgba(102, 102, 102, 1);
                    }
                }
            }
        }
    }
    .contrary {
        width: pxtorem(1366px);
        height: pxtorem(486px);
        padding-top: pxtorem(0.1px);
        background-color: rgba(255, 255, 255, 1);
        .roof {
            width: pxtorem(155px);
            height: pxtorem(42px);
            margin: pxtorem(80px) 0 0 pxtorem(606px);
            font-family: MicrosoftYaHei;
            font-size: pxtorem(32px);
            line-height: pxtorem(45px);
            color: rgba(34, 34, 34, 1);
        }
    }
}
