.rat {
    width: 1366px;
    height: 3982px;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
}
.valley {
    display: flex;
    width: 1366px;
    height: 510px;
    background-image: url(https://p2.ssl.qhimg.com/t0131d35a760314842c.png);
    background-size: 1366px 510px;
}
.pence {
    width: 60px;
    height: 60px;
    margin: 0px 0 0 203px;
}
.unconditional {
    width: 723px;
    height: 42px;
    margin: 140px 0 0 7px;
    font-family: PingFangSC-Regular;
    font-size: 30px;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
}
.feather {
    width: 723px;
    height: 65px;
    margin: 192px 0 0 -723px;
    font-family: PingFangSC-Medium;
    font-size: 46px;
    font-weight: 500;
    line-height: 65px;
    color: rgba(255, 255, 255, 1);
}
.zoo {
    width: 723px;
    height: 56px;
    margin: 267px 0 0 -723px;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 247, 215, 1);
}
.build {
    width: 180px;
    height: 50px;
    padding-top: 0.1px;
    margin: 360px 0 0 -723px;
    background-color: rgba(253, 224, 93, 1);
}
.field {
    width: 100px;
    height: 25px;
    margin: 13px 0 0 40px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 25px;
    color: rgba(34, 34, 34, 1);
    text-align: center;
}
.nationality {
    width: 1366px;
    height: 509px;
    padding-top: 0.1px;
    background-color: rgba(255, 255, 255, 1);
}
.salad {
    display: flex;
    height: 42px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.ferry {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    background-color: rgba(212, 173, 2, 1);
}
.building {
    width: 120px;
    height: 42px;
    margin-left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.limit {
    width: 10px;
    height: 10px;
    margin-left: 16px;
    background-color: rgba(212, 173, 2, 1);
}
.stewardess {
    display: flex;
    width: 960px;
    height: 277px;
    margin: 50px 0 0 203px;
    justify-content: space-between;
}
.water {
    width: 222px;
    height: 277px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.manage {
    width: 156px;
    height: 25px;
    margin: 26px 0 0 33px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.path {
    width: 222px;
    height: 200px;
    margin-top: 26px;
}
.example {
    width: 222px;
    height: 277px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.purple {
    width: 156px;
    height: 25px;
    margin: 26px 0 0 33px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.valid {
    width: 222px;
    height: 200px;
    margin-top: 26px;
}
.hurry {
    width: 222px;
    height: 277px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.argue {
    width: 156px;
    height: 25px;
    margin: 26px 0 0 33px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.accommodation {
    width: 222px;
    height: 200px;
    margin-top: 26px;
}
.mixture {
    width: 222px;
    height: 277px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.time {
    width: 156px;
    height: 25px;
    margin: 26px 0 0 33px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.picnic {
    width: 222px;
    height: 200px;
    margin-top: 26px;
}
.consensus {
    width: 1366px;
    height: 722px;
    padding-top: 0.1px;
    background-color: rgba(255, 247, 215, 1);
}
.smoke {
    display: flex;
    height: 42px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.protection {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    background-color: rgba(212, 173, 2, 1);
}
.conscience {
    width: 120px;
    height: 42px;
    margin-left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.sense {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    background-color: rgba(212, 173, 2, 1);
}
.owe {
    display: flex;
    width: 940px;
    height: 200px;
    margin: 50px 0 0 213px;
    justify-content: space-between;
}
.chant {
    width: 280px;
    height: 200px;
    padding-top: 0.1px;
    background-image: url(https://p2.ssl.qhimg.com/t01559e88fa44122e5d.png);
    background-size: 280px 200px;
}
.term {
    width: 188px;
    height: 40px;
    padding-top: 0.1px;
    margin: 180px 0 0 46px;
    background-color: rgba(253, 224, 93, 1);
}
.urban {
    width: 160px;
    height: 22px;
    margin: 9px 0 0 14px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.considerate {
    width: 280px;
    height: 200px;
    padding-top: 0.1px;
    background-image: url(https://p3.ssl.qhimg.com/t012c58a943c4cd43cf.png);
    background-size: 280px 200px;
}
.afraid {
    width: 188px;
    height: 40px;
    padding-top: 0.1px;
    margin: 180px 0 0 46px;
    background-color: rgba(253, 224, 93, 1);
}
.bandage {
    width: 160px;
    height: 22px;
    margin: 9px 0 0 14px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.table {
    width: 280px;
    height: 200px;
    padding-top: 0.1px;
    background-image: url(https://p4.ssl.qhimg.com/t01c605b602d5868e91.png);
    background-size: 280px 200px;
}
.tennis {
    width: 188px;
    height: 40px;
    padding-top: 0.1px;
    margin: 180px 0 0 46px;
    background-color: rgba(253, 224, 93, 1);
}
.candidate {
    width: 160px;
    height: 22px;
    margin: 9px 0 0 14px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.combine {
    display: flex;
    width: 940px;
    height: 200px;
    margin: 70px 0 0 213px;
    justify-content: space-between;
}
.hurricane {
    width: 280px;
    height: 200px;
    padding-top: 0.1px;
    background-image: url(https://p5.ssl.qhimg.com/t010e90dfa4079f12fc.png);
    background-size: 280px 200px;
}
.independent {
    width: 188px;
    height: 40px;
    padding-top: 0.1px;
    margin: 180px 0 0 46px;
    background-color: rgba(253, 224, 93, 1);
}
.cancer {
    width: 160px;
    height: 22px;
    margin: 9px 0 0 14px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.choose {
    width: 280px;
    height: 200px;
    padding-top: 0.1px;
    background-image: url(https://p5.ssl.qhimg.com/t01a8649323c5c950e7.png);
    background-size: 280px 200px;
}
.town {
    width: 188px;
    height: 40px;
    padding-top: 0.1px;
    margin: 180px 0 0 46px;
    background-color: rgba(253, 224, 93, 1);
}
.desire {
    width: 160px;
    height: 22px;
    margin: 9px 0 0 14px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.visual {
    width: 280px;
    height: 200px;
    padding-top: 0.1px;
    background-image: url(https://p5.ssl.qhimg.com/t01c1f245e55d3d7d30.png);
    background-size: 280px 200px;
}
.life {
    width: 188px;
    height: 40px;
    padding-top: 0.1px;
    margin: 180px 0 0 46px;
    background-color: rgba(253, 224, 93, 1);
}
.submit {
    width: 160px;
    height: 22px;
    margin: 9px 0 0 14px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.physics {
    width: 1366px;
    height: 505px;
    padding-top: 0.1px;
    background-color: rgba(255, 255, 255, 1);
}
.meaning {
    display: flex;
    height: 42px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.country {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    background-color: rgba(212, 173, 2, 1);
}
.half {
    width: 120px;
    height: 42px;
    margin-left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.joy {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    background-color: rgba(212, 173, 2, 1);
}
.adult {
    display: flex;
    height: 222px;
    margin-top: 50px;
    justify-content: center;
}
.servant {
    width: 222px;
    height: 222px;
    margin-left: 0px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 111px;
}
.care {
    width: 222px;
    height: 222px;
}
.search {
    width: 222px;
    height: 222px;
    margin-left: 24px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 111px;
}
.same {
    width: 222px;
    height: 222px;
}
.furniture {
    width: 224px;
    height: 222px;
    margin-left: 24px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 111px;
}
.agree {
    width: 222px;
    height: 222px;
}
.heart {
    width: 222px;
    height: 222px;
    margin-left: 22px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 111px;
}
.unemployment {
    width: 222px;
    height: 222px;
}
.nearly {
    display: flex;
    width: 938px;
    height: 36px;
    margin: 15px 0 0 214px;
    justify-content: space-between;
}
.bond {
    width: 200px;
    height: 35px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.master {
    width: 160px;
    height: 22px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.rise {
    width: 200px;
    height: 35px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.punish {
    width: 160px;
    height: 22px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.monument {
    width: 200px;
    height: 35px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.stick {
    width: 160px;
    height: 22px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.tax {
    width: 200px;
    height: 35px;
    padding-top: 0.1px;
    background-color: rgba(253, 224, 93, 1);
}
.personnel {
    width: 160px;
    height: 22px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.fact {
    width: 1366px;
    height: 661px;
    padding-top: 0.1px;
    background-color: rgba(255, 247, 215, 1);
}
.therefore {
    display: flex;
    height: 42px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.ox {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    background-color: rgba(212, 173, 2, 1);
}
.ocean {
    width: 120px;
    height: 42px;
    margin-left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.eagle {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    background-color: rgba(212, 173, 2, 1);
}
.cloud {
    display: flex;
    width: 960px;
    height: 278px;
    margin: 50px 0 0 203px;
    justify-content: space-between;
}
.fibre {
    width: 468px;
    height: 278px;
    margin-left: 0px;
}
.fiber {
    width: 468px;
    height: 278px;
    margin-right: 0px;
}
.bingo {
    width: 468px;
    height: 127px;
    padding-top: 0.1px;
    background-color: rgba(255, 255, 255, 1);
}
.fortunate {
    width: 428px;
    height: 25px;
    margin: 18px 0 0 20px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
}
.mommy {
    width: 428px;
    height: 40px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(144, 118, 1, 1);
}
.wage {
    display: flex;
    width: 428px;
    height: 20px;
    margin-left: 20px;
    align-items: center;
}
.along {
    width: 100px;
    height: 17px;
    margin-left: 0px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.surplus {
    width: 70px;
    height: 20px;
    margin-left: 258px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(95, 77, 0, 1);
}
.add {
    width: 468px;
    height: 127px;
    padding-top: 0.1px;
    margin-top: 24px;
    background-color: rgba(255, 255, 255, 1);
}
.outdoors {
    width: 428px;
    height: 25px;
    margin: 18px 0 0 20px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
}
.paper {
    width: 428px;
    height: 40px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(144, 118, 1, 1);
}
.fetch {
    display: flex;
    width: 428px;
    height: 20px;
    margin-left: 20px;
    align-items: center;
}
.church {
    width: 100px;
    height: 17px;
    margin-left: 0px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.edition {
    width: 70px;
    height: 20px;
    margin-left: 258px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(95, 77, 0, 1);
}
.weather {
    display: flex;
    width: 960px;
    height: 127px;
    margin: 24px 0 0 203px;
    justify-content: space-between;
}
.opera {
    width: 468px;
    height: 127px;
    padding-top: 0.1px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 1);
}
.dot {
    width: 428px;
    height: 25px;
    margin: 18px 0 0 20px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
}
.service {
    width: 428px;
    height: 40px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(144, 118, 1, 1);
}
.disease {
    display: flex;
    width: 428px;
    height: 20px;
    margin-left: 20px;
    align-items: center;
}
.symphony {
    width: 100px;
    height: 17px;
    margin-left: 0px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.survival {
    width: 70px;
    height: 20px;
    margin-left: 258px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(95, 77, 0, 1);
}
.thus {
    width: 468px;
    height: 127px;
    padding-top: 0.1px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 1);
}
.satisfy {
    width: 428px;
    height: 25px;
    margin: 18px 0 0 20px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
}
.arise {
    width: 428px;
    height: 40px;
    margin: 6px 0 0 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(144, 118, 1, 1);
}
.sorry {
    display: flex;
    width: 428px;
    height: 20px;
    margin-left: 20px;
    align-items: center;
}
.dinosaur {
    width: 100px;
    height: 17px;
    margin-left: 0px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.4);
}
.properly {
    width: 70px;
    height: 20px;
    margin-left: 258px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(95, 77, 0, 1);
}
.story {
    width: 1366px;
    height: 582px;
    padding-top: 0.1px;
    background-color: rgba(255, 255, 255, 1);
}
.appetite {
    display: flex;
    height: 42px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.pronounce {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    background-color: rgba(212, 173, 2, 1);
}
.socialist {
    width: 120px;
    height: 42px;
    margin-left: 15px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.certain {
    width: 10px;
    height: 10px;
    margin-left: 15px;
    background-color: rgba(212, 173, 2, 1);
}
.pea {
    display: flex;
    width: 960px;
    height: 350px;
    margin: 50px 0 0 203px;
    justify-content: space-between;
}
.bacterium {
    width: 463px;
    height: 312px;
    margin: 0px 0 0 0px;
}
.contrary {
    width: 312px;
    height: 312px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 156px;
}
.roof {
    width: 312px;
    height: 312px;
    padding-top: 0.1px;
    background-image: url(https://p2.ssl.qhimg.com/t0144e0997533a89ce9.png);
    background-size: 312px 312px;
}
.carve {
    width: 95px;
    height: 95px;
    margin: 256px 0 0 120px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 48px;
}
.essay {
    width: 95px;
    height: 95px;
}
.reward {
    width: 175px;
    height: 175px;
    margin: -212px 0 0 288px;
    background-color: rgba(216, 216, 216, 1);
    border-radius: 88px;
}
.convenience {
    width: 175px;
    height: 175px;
}
.export {
    width: 463px;
    height: 350px;
    padding-top: 0.1px;
    margin: 0px 0px 0 0;
    background-color: rgba(255, 247, 215, 1);
}
.fit {
    width: 200px;
    height: 25px;
    margin: 30px 0 0 30px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    color: rgba(144, 118, 1, 1);
}
.racial {
    width: 403px;
    height: 200px;
    margin: 20px 0 0 30px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 20px;
    color: rgba(144, 118, 1, 1);
}
.herself {
    width: 110px;
    height: 34px;
    padding-top: 0.1px;
    margin: 18px 0 0 177px;
    background-color: rgba(253, 224, 93, 1);
}
.bid {
    width: 80px;
    height: 22px;
    margin: 6px 0 0 15px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: rgba(144, 118, 1, 1);
    text-align: center;
}
.novelist {
    width: 1366px;
    height: 493px;
    padding-top: 0.1px;
    background-image: url(https://p5.ssl.qhimg.com/t014c118d3130270abe.png);
    background-size: 1366px 493px;
}
.safety {
    display: flex;
    height: 42px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.off {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    background-color: rgba(255, 255, 255, 1);
}
.east {
    width: 240px;
    height: 42px;
    margin-left: 16px;
    font-family: PingFangSC-Medium;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.misunderstand {
    width: 10px;
    height: 10px;
    margin-left: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.razor {
    width: 163px;
    height: 20px;
    margin: 6px 0 0 601px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
