body {
                overflow-x: hidden;
                position: relative;
                height: 4400pxpx;
            }@function pxtorem($px){
    @return $px/192px * 1rem;
}
.rat {
    width: pxtorem(1440px);
    height: pxtorem(4400px);
    margin: 0 auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    .valley {
        width: pxtorem(1440px);
        height: pxtorem(4400px);
        background: linear-gradient(180deg, rgba(5, 7, 9, 1) 0%,rgba(27, 39, 47, 1) 26%,rgba(49, 71, 85, 1) 99%,rgba(49, 71, 85, 1) 100%);
        .pence {
            width: pxtorem(1440px);
            height: pxtorem(500px);
            padding-top: pxtorem(0.1px);
            background-color: rgba(255, 255, 255, 1);
            .unconditional {
                display: flex;
                width: pxtorem(959px);
                height: pxtorem(34px);
                margin: pxtorem(6px) 0 0 pxtorem(251px);
                align-items: center;
                .feather {
                    width: pxtorem(34px);
                    height: pxtorem(34px);
                    margin-left: pxtorem(0px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .zoo {
                    width: pxtorem(126px);
                    height: pxtorem(22px);
                    margin-left: pxtorem(12px);
                    font-family: PingFangSC-Light;
                    font-size: pxtorem(16px);
                    font-weight: 300;
                    line-height: pxtorem(22px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
                .build {
                    width: pxtorem(326px);
                    height: pxtorem(22px);
                    margin-left: pxtorem(136px);
                    font-family: PingFangSC-Light;
                    font-size: pxtorem(16px);
                    font-weight: 300;
                    line-height: pxtorem(22px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
                .field {
                    width: pxtorem(242px);
                    height: pxtorem(22px);
                    margin-left: pxtorem(83px);
                    font-family: PingFangSC-Light;
                    font-size: pxtorem(16px);
                    font-weight: 300;
                    line-height: pxtorem(22px);
                    color: rgba(255, 255, 255, 1);
                }
            }
            .nationality {
                width: pxtorem(568px);
                height: pxtorem(56px);
                margin: pxtorem(98px) 0 0 pxtorem(436px);
                font-family: PingFangSC-Semibold;
                font-size: pxtorem(40px);
                font-weight: 700;
                line-height: pxtorem(56px);
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }
            .salad {
                width: pxtorem(574px);
                height: pxtorem(56px);
                margin-left: pxtorem(433px);
                font-family: PingFangSC-Semibold;
                font-size: pxtorem(40px);
                font-weight: 700;
                line-height: pxtorem(56px);
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }
            .ferry {
                width: pxtorem(560px);
                height: pxtorem(25px);
                margin: pxtorem(12px) 0 0 pxtorem(440px);
                font-family: PingFangSC-Light;
                font-size: pxtorem(18px);
                font-weight: 300;
                line-height: pxtorem(25px);
                color: rgba(255, 255, 255, 1);
                text-align: center;
            }
            .building {
                width: pxtorem(110px);
                height: pxtorem(30px);
                padding-top: pxtorem(0.1px);
                margin: pxtorem(40px) 0 0 pxtorem(665px);
                background-color: rgba(255, 255, 255, 1);
                .limit {
                    width: pxtorem(72px);
                    height: pxtorem(25px);
                    margin: pxtorem(2px) 0 0 pxtorem(19px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(18px);
                    font-weight: 700;
                    line-height: pxtorem(25px);
                    color: rgba(255, 44, 44, 1);
                    text-align: center;
                }
            }
        }
        .stewardess {
            width: pxtorem(800px);
            height: pxtorem(50px);
            margin: pxtorem(100px) 0 0 pxtorem(320px);
            font-family: PingFangSC-Semibold;
            font-size: pxtorem(36px);
            font-weight: 700;
            line-height: pxtorem(50px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .water {
            width: pxtorem(800px);
            height: pxtorem(33px);
            margin: pxtorem(7px) 0 0 pxtorem(320px);
            font-family: PingFangSC-Light;
            font-size: pxtorem(24px);
            font-weight: 300;
            line-height: pxtorem(33px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .manage {
            display: flex;
            width: pxtorem(960px);
            height: pxtorem(320px);
            margin: pxtorem(30px) 0 0 pxtorem(240px);
            justify-content: space-between;
            .path {
                width: pxtorem(470px);
                height: pxtorem(320px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(0px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 0.6);
                .example {
                    width: pxtorem(422px);
                    height: pxtorem(234px);
                    margin: pxtorem(21px) 0 0 pxtorem(24px);
                    background-color: rgba(255, 255, 255, 1);
                    .purple {
                        width: pxtorem(422px);
                        height: pxtorem(234px);
                    }
                }
                .valid {
                    width: pxtorem(470px);
                    height: pxtorem(50px);
                    padding-top: pxtorem(0.1px);
                    margin-top: pxtorem(15px);
                    background-color: rgba(0, 66, 97, 1);
                    .hurry {
                        width: pxtorem(378px);
                        height: pxtorem(33px);
                        margin: pxtorem(9px) 0 0 pxtorem(46px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(24px);
                        font-weight: 700;
                        line-height: pxtorem(33px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
            }
            .argue {
                width: pxtorem(470px);
                height: pxtorem(320px);
                padding-top: pxtorem(0.1px);
                margin-right: pxtorem(0px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 0.6);
                .accommodation {
                    width: pxtorem(422px);
                    height: pxtorem(234px);
                    margin: pxtorem(22px) 0 0 pxtorem(26px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .mixture {
                    width: pxtorem(470px);
                    height: pxtorem(50px);
                    padding-top: pxtorem(0.1px);
                    margin-top: pxtorem(14px);
                    background-color: rgba(0, 66, 97, 1);
                    .time {
                        width: pxtorem(378px);
                        height: pxtorem(33px);
                        margin: pxtorem(9px) 0 0 pxtorem(48px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(24px);
                        font-weight: 700;
                        line-height: pxtorem(33px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
            }
        }
        .picnic {
            display: flex;
            width: pxtorem(890px);
            height: pxtorem(60px);
            margin: pxtorem(24px) 0 0 pxtorem(277px);
            .consensus {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(0px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .smoke {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
            .protection {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(54px);
                background-color: rgba(255, 44, 44, 1);
                .conscience {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(13px) 0 0 pxtorem(38px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
            .sense {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(90px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .owe {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
            .chant {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(54px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .term {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
        }
        .urban {
            display: flex;
            width: pxtorem(960px);
            height: pxtorem(320px);
            margin: pxtorem(40px) 0 0 pxtorem(240px);
            justify-content: space-between;
            .considerate {
                width: pxtorem(470px);
                height: pxtorem(320px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(0px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 0.6);
                .afraid {
                    width: pxtorem(422px);
                    height: pxtorem(234px);
                    margin: pxtorem(21px) 0 0 pxtorem(26px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .bandage {
                    width: pxtorem(470px);
                    height: pxtorem(50px);
                    padding-top: pxtorem(0.1px);
                    margin-top: pxtorem(15px);
                    background-color: rgba(0, 66, 97, 1);
                    .table {
                        width: pxtorem(378px);
                        height: pxtorem(33px);
                        margin: pxtorem(9px) 0 0 pxtorem(48px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(24px);
                        font-weight: 700;
                        line-height: pxtorem(33px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
            }
            .tennis {
                width: pxtorem(470px);
                height: pxtorem(320px);
                padding-top: pxtorem(0.1px);
                margin-right: pxtorem(0px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 0.6);
                .candidate {
                    width: pxtorem(422px);
                    height: pxtorem(234px);
                    margin: pxtorem(21px) 0 0 pxtorem(24px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .combine {
                    width: pxtorem(470px);
                    height: pxtorem(50px);
                    padding-top: pxtorem(0.1px);
                    margin-top: pxtorem(15px);
                    background-color: rgba(0, 66, 97, 1);
                    .hurricane {
                        width: pxtorem(378px);
                        height: pxtorem(33px);
                        margin: pxtorem(9px) 0 0 pxtorem(46px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(24px);
                        font-weight: 700;
                        line-height: pxtorem(33px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
            }
        }
        .independent {
            display: flex;
            width: pxtorem(890px);
            height: pxtorem(60px);
            margin: pxtorem(24px) 0 0 pxtorem(277px);
            .cancer {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(0px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .choose {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
            .town {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(54px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .desire {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
            .visual {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(90px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .life {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
            .submit {
                width: pxtorem(173px);
                height: pxtorem(60px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(54px);
                border: pxtorem(1px) solid rgba(255, 255, 255, 1);
                .physics {
                    width: pxtorem(96px);
                    height: pxtorem(33px);
                    margin: pxtorem(11px) 0 0 pxtorem(37px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(255, 255, 255, 1);
                    text-align: center;
                }
            }
        }
        .meaning {
            width: pxtorem(800px);
            height: pxtorem(50px);
            margin: pxtorem(100px) 0 0 pxtorem(320px);
            font-family: PingFangSC-Semibold;
            font-size: pxtorem(36px);
            font-weight: 700;
            line-height: pxtorem(50px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .country {
            width: pxtorem(800px);
            height: pxtorem(33px);
            margin: pxtorem(7px) 0 0 pxtorem(320px);
            font-family: PingFangSC-Light;
            font-size: pxtorem(24px);
            font-weight: 300;
            line-height: pxtorem(33px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .half {
            display: flex;
            width: pxtorem(1440px);
            height: pxtorem(500px);
            margin-top: pxtorem(30px);
            background-color: rgba(255, 255, 255, 1);
            align-items: center;
            .joy {
                width: pxtorem(326px);
                height: pxtorem(408px);
                margin-left: pxtorem(284px);
                background-color: rgba(255, 255, 255, 1);
            }
            .adult {
                height: pxtorem(407px);
                margin-left: pxtorem(50px);
                .servant {
                    width: pxtorem(205px);
                    height: pxtorem(40px);
                    padding-top: pxtorem(0.1px);
                    background-color: rgba(255, 44, 44, 1);
                    .care {
                        width: pxtorem(150px);
                        height: pxtorem(33px);
                        margin: pxtorem(4px) 0 0 pxtorem(28px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(24px);
                        font-weight: 700;
                        line-height: pxtorem(33px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
                .search {
                    width: pxtorem(500px);
                    height: pxtorem(198px);
                    margin-top: pxtorem(47px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(16px);
                    line-height: pxtorem(22px);
                    color: rgba(255, 255, 255, 1);
                }
                .same {
                    width: pxtorem(100px);
                    height: pxtorem(30px);
                    margin: pxtorem(92px) 0 0 pxtorem(387px);
                    border: pxtorem(2px) solid rgba(255, 255, 255, 1);
                    .furniture {
                        width: pxtorem(64px);
                        height: pxtorem(22px);
                        margin-left: pxtorem(16px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(16px);
                        font-weight: 700;
                        line-height: pxtorem(22px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
            }
        }
        .agree {
            width: pxtorem(800px);
            height: pxtorem(50px);
            margin: pxtorem(100px) 0 0 pxtorem(320px);
            font-family: PingFangSC-Semibold;
            font-size: pxtorem(36px);
            font-weight: 700;
            line-height: pxtorem(50px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .heart {
            width: pxtorem(800px);
            height: pxtorem(33px);
            margin: pxtorem(7px) 0 0 pxtorem(320px);
            font-family: PingFangSC-Light;
            font-size: pxtorem(24px);
            font-weight: 300;
            line-height: pxtorem(33px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .unemployment {
            width: pxtorem(1439px);
            height: pxtorem(580px);
            margin: pxtorem(29px) 0 0 pxtorem(1px);
            .nearly {
                width: pxtorem(640px);
                height: pxtorem(510px);
                padding-top: pxtorem(0.1px);
                margin-left: pxtorem(234px);
                background-color: rgba(255, 255, 255, 1);
                .bond {
                    width: pxtorem(430px);
                    height: pxtorem(300px);
                    padding-top: pxtorem(0.1px);
                    margin: pxtorem(102px) 0 0 pxtorem(484px);
                    background-color: rgba(255, 255, 255, 1);
                    .master {
                        width: pxtorem(338px);
                        height: pxtorem(22px);
                        margin: pxtorem(39px) 0 0 pxtorem(38px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(16px);
                        line-height: pxtorem(22px);
                        color: rgba(102, 102, 102, 1);
                    }
                    .rise {
                        width: pxtorem(340px);
                        height: pxtorem(50px);
                        margin-left: pxtorem(36px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(36px);
                        font-weight: 700;
                        line-height: pxtorem(50px);
                        color: rgba(51, 51, 51, 1);
                    }
                    .punish {
                        width: pxtorem(338px);
                        height: pxtorem(88px);
                        margin: pxtorem(7px) 0 0 pxtorem(38px);
                        font-family: PingFangSC-Regular;
                        font-size: pxtorem(16px);
                        line-height: pxtorem(22px);
                        color: rgba(102, 102, 102, 1);
                    }
                    .monument {
                        width: pxtorem(100px);
                        height: pxtorem(30px);
                        padding-top: pxtorem(0.1px);
                        margin: pxtorem(45px) 0 0 pxtorem(308px);
                        background-color: rgba(255, 44, 44, 1);
                        .stick {
                            width: pxtorem(64px);
                            height: pxtorem(22px);
                            margin: pxtorem(4px) 0 0 pxtorem(16px);
                            font-family: PingFangSC-Semibold;
                            font-size: pxtorem(16px);
                            font-weight: 700;
                            line-height: pxtorem(22px);
                            color: rgba(255, 255, 255, 1);
                            text-align: center;
                        }
                    }
                }
            }
            .tax {
                width: pxtorem(1439px);
                height: pxtorem(180px);
                margin-top: pxtorem(-110px);
                background-color: rgba(0, 66, 97, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 0.6);
            }
        }
        .personnel {
            width: pxtorem(636px);
            height: pxtorem(50px);
            margin: pxtorem(100px) 0 0 pxtorem(403px);
            font-family: PingFangSC-Semibold;
            font-size: pxtorem(36px);
            font-weight: 700;
            line-height: pxtorem(50px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .fact {
            width: pxtorem(636px);
            height: pxtorem(33px);
            margin: pxtorem(7px) 0 0 pxtorem(403px);
            font-family: PingFangSC-Light;
            font-size: pxtorem(24px);
            font-weight: 300;
            line-height: pxtorem(33px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .therefore {
            display: flex;
            width: pxtorem(960px);
            height: pxtorem(260px);
            margin: pxtorem(30px) 0 0 pxtorem(240px);
            justify-content: space-between;
            .ox {
                width: pxtorem(225px);
                height: pxtorem(260px);
                padding-top: pxtorem(0.1px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 1);
                .ocean {
                    width: pxtorem(60px);
                    height: pxtorem(60px);
                    margin: pxtorem(46px) 0 0 pxtorem(83px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .eagle {
                    width: pxtorem(172px);
                    height: pxtorem(33px);
                    margin: pxtorem(19px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(51, 51, 51, 1);
                    text-align: center;
                }
                .cloud {
                    width: pxtorem(172px);
                    height: pxtorem(22px);
                    margin: pxtorem(9px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(16px);
                    line-height: pxtorem(22px);
                    color: rgba(102, 102, 102, 1);
                    text-align: center;
                }
                .fibre {
                    width: pxtorem(58px);
                    height: pxtorem(20px);
                    padding-top: pxtorem(0.1px);
                    margin: pxtorem(21px) 0 0 pxtorem(84px);
                    background-color: rgba(255, 44, 44, 1);
                    .fiber {
                        width: pxtorem(22px);
                        height: pxtorem(22px);
                        margin: pxtorem(-1px) 0 0 pxtorem(18px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(16px);
                        font-weight: 700;
                        line-height: pxtorem(22px);
                        color: rgba(255, 255, 255, 1);
                        text-align: center;
                    }
                }
            }
            .bingo {
                width: pxtorem(225px);
                height: pxtorem(260px);
                padding-top: pxtorem(0.1px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 1);
                .fortunate {
                    width: pxtorem(60px);
                    height: pxtorem(60px);
                    margin: pxtorem(46px) 0 0 pxtorem(83px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .mommy {
                    width: pxtorem(172px);
                    height: pxtorem(33px);
                    margin: pxtorem(19px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(51, 51, 51, 1);
                    text-align: center;
                }
                .wage {
                    width: pxtorem(172px);
                    height: pxtorem(22px);
                    margin: pxtorem(9px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(16px);
                    line-height: pxtorem(22px);
                    color: rgba(102, 102, 102, 1);
                    text-align: center;
                }
                .along {
                    width: pxtorem(58px);
                    height: pxtorem(20px);
                    padding-top: pxtorem(0.1px);
                    margin: pxtorem(21px) 0 0 pxtorem(84px);
                    border: pxtorem(1px) solid rgba(255, 44, 44, 1);
                    .surplus {
                        width: pxtorem(22px);
                        height: pxtorem(22px);
                        margin: pxtorem(-3px) 0 0 pxtorem(17px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(16px);
                        font-weight: 700;
                        line-height: pxtorem(22px);
                        color: rgba(255, 44, 44, 1);
                        text-align: center;
                    }
                }
            }
            .add {
                width: pxtorem(225px);
                height: pxtorem(260px);
                padding-top: pxtorem(0.1px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 1);
                .outdoors {
                    width: pxtorem(60px);
                    height: pxtorem(60px);
                    margin: pxtorem(46px) 0 0 pxtorem(83px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .paper {
                    width: pxtorem(172px);
                    height: pxtorem(33px);
                    margin: pxtorem(19px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(51, 51, 51, 1);
                    text-align: center;
                }
                .fetch {
                    width: pxtorem(172px);
                    height: pxtorem(22px);
                    margin: pxtorem(9px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(16px);
                    line-height: pxtorem(22px);
                    color: rgba(102, 102, 102, 1);
                    text-align: center;
                }
                .church {
                    width: pxtorem(58px);
                    height: pxtorem(20px);
                    padding-top: pxtorem(0.1px);
                    margin: pxtorem(21px) 0 0 pxtorem(84px);
                    border: pxtorem(1px) solid rgba(255, 44, 44, 1);
                    .edition {
                        width: pxtorem(22px);
                        height: pxtorem(22px);
                        margin: pxtorem(-3px) 0 0 pxtorem(17px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(16px);
                        font-weight: 700;
                        line-height: pxtorem(22px);
                        color: rgba(255, 44, 44, 1);
                        text-align: center;
                    }
                }
            }
            .weather {
                width: pxtorem(225px);
                height: pxtorem(260px);
                padding-top: pxtorem(0.1px);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: pxtorem(0px) pxtorem(4px) pxtorem(5px) pxtorem(0px) rgba(19, 27, 33, 1);
                .opera {
                    width: pxtorem(60px);
                    height: pxtorem(60px);
                    margin: pxtorem(46px) 0 0 pxtorem(83px);
                    background-color: rgba(255, 255, 255, 1);
                }
                .dot {
                    width: pxtorem(172px);
                    height: pxtorem(33px);
                    margin: pxtorem(19px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Semibold;
                    font-size: pxtorem(24px);
                    font-weight: 700;
                    line-height: pxtorem(33px);
                    color: rgba(51, 51, 51, 1);
                    text-align: center;
                }
                .service {
                    width: pxtorem(172px);
                    height: pxtorem(22px);
                    margin: pxtorem(9px) 0 0 pxtorem(27px);
                    font-family: PingFangSC-Regular;
                    font-size: pxtorem(16px);
                    line-height: pxtorem(22px);
                    color: rgba(102, 102, 102, 1);
                    text-align: center;
                }
                .disease {
                    width: pxtorem(58px);
                    height: pxtorem(20px);
                    padding-top: pxtorem(0.1px);
                    margin: pxtorem(21px) 0 0 pxtorem(84px);
                    border: pxtorem(1px) solid rgba(255, 44, 44, 1);
                    .symphony {
                        width: pxtorem(22px);
                        height: pxtorem(22px);
                        margin: pxtorem(-3px) 0 0 pxtorem(17px);
                        font-family: PingFangSC-Semibold;
                        font-size: pxtorem(16px);
                        font-weight: 700;
                        line-height: pxtorem(22px);
                        color: rgba(255, 44, 44, 1);
                        text-align: center;
                    }
                }
            }
        }
        .survival {
            width: pxtorem(800px);
            height: pxtorem(50px);
            margin: pxtorem(101px) 0 0 pxtorem(321px);
            font-family: PingFangSC-Semibold;
            font-size: pxtorem(36px);
            font-weight: 700;
            line-height: pxtorem(50px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
        .thus {
            width: pxtorem(800px);
            height: pxtorem(33px);
            margin: pxtorem(7px) 0 0 pxtorem(321px);
            font-family: PingFangSC-Light;
            font-size: pxtorem(24px);
            font-weight: 300;
            line-height: pxtorem(33px);
            color: rgba(255, 255, 255, 1);
            text-align: center;
        }
    }
}
